export appId"="xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
export password="**************************"
export tenant="***************************"

export SUBSCRIPTION="********************************"

export REQUESTED_NAME="<your-server-name>"
export AZ_DNS_RG="<your-dons-zone-resource-group>"
export PARENT_DOMAIN="<the-parent-domin-of-your-resource-group>"